# General
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python
*.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React / Frontend
build/
frontend/package-lock.json
frontend/package.json

App/node_modules
App/.next
App/out
App/build
App/package-lock.json


App/.vercel
App/*.tsbuildinfo
App/next-env.d.ts
